
//MDL box-shadows
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$shadow-border: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);




//`@include animate;` anywhere for animation
@mixin animate {
  transition: all 0.15s ease-in-out;
}

//`@include custom-scroll($hover:false)` for custom scrollbar within that component.
// Set hover to true, and scrollbar only shows up when cursor within component 
@mixin custom-scroll($hover:false) {
  &::-webkit-scrollbar {
    width: 0.75rem;

  }

  &::-webkit-scrollbar-track {
    // background-color: rgba(255,255,255,.05);
    background-color: transparentize($grey-dark, .05);
    border-radius: 0 0 2px;
  }

  @if $hover == on-hover {
    @include animate;
    &:hover::-webkit-scrollbar-thumb {
      border-radius: 2px;
      // background-color: rgba(0,0,0,.25);
      background-color: transparentize($grey-lighter,.25);
      margin-right: 2px;
    }
  } @else {
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      // background-color: rgba(0,0,0,.25);
      background-color: transparentize($grey-lighter,.25);
      margin-right: 2px;
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb:active {
    background: transparentize($grey-lighter,0.4);
  }
}

html {
  @include custom-scroll;
}

//resetting body for a cleaner setup
body * {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

//always animate FontAwesome icons
.fa,.fas,.far,.fab,.fal {
  @include animate;
}
