// out: ../App.css

@charset "utf-8";


@import "../../node_modules/bulma/sass/utilities/initial-variables";

@import './_lib.scss';


// import dark theme, tweaked from https://github.com/jenil/bulmaswatch/tree/gh-pages/superhero
@import "bulmaswatch/_variables";

// import Bulma
@import "../../node_modules/bulma/bulma.sass";

// fix bulma breaking dark theme, also pulled from superhero above
@import "bulmaswatch/_overrides";


// bulma additions

// sidebar divider
.menu {
  .menu-divider {
    border-bottom: 2px solid $grey-light;
    padding: 0.5rem;
    margin: 0 2rem;
  }

}

///////////////////////////////////////////////


.App {
  display: flex;
  flex-direction: row;
}

.MainSidebar {
  min-width: 12rem; 
}