html {
  --background: #424546;
  --background-transparent: rgba(66, 69, 70, 0.9);
  --background-secondary: #323035;

  --searchbar-background: #1D1F1F;
  --searchbar-icon: #DADADA;
  --searchbar-text: #5A5E5F;

  --navbar-background: #323232;
  --navbar-shadow: #161616;

  --primary: #07c5ef;
  --secondary: #ffa800;
  --tertiary: #252121;
  --danger: #bd0a0a;
  --success: #0bd58c;

  --primary-hover: #36d1f3;
  --secondary-hover: #feba36;
  --tertiary-hover: #322b2b;
  --success-hover: #30eca8;
  --danger-hover: #bd0a0a;

  --text-primary: #eae8e5;
  --text-secondary: #c1c3c3;
  overflow-y: overlay;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, Cabin, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1f1f;
  width: 100%;
  height: 100%;
}

a {
  color: #e4deea;
  text-decoration: none;
}

code {
  font-family: Cabin, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}
